<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Orders</title>
</head>
<body>
    <h1>All Orders</h1>

    <ul>
        <% for(let order of orders) { %>
        <li><a href="orders/<%=order._id%>">Sender: <%= order.senderName%>, Reciever: <%= order.recepientName%></a></li>
        <% } %>
    </ul>
    <a href="/">Back</a>
    
</body>
</html>